<article class="twelve cell">
    <form class="row">
        <h2>
            <i18n>statistics.admin.generate.stats</i18n>
        </h2>
        <div class="row zero-mobile">
            <div>
                <label class="two cell"><i18n>statistics.form.school</i18n></label>
				<span class="four cell">
					<select ng-hide="schools.length === 1"
                            ng-model="form.school_id"
                            ng-options="school.id as school.name for school in schools">
                    </select>
					<span ng-if="schools.length === 1">[[schools[0].name]]</span>
				</span>
            </div>
            <label class="one cell"><i18n>statistics.form.from</i18n></label>
			<span class="six cell">
				<select ng-model="form.from"
                        ng-options="date.moment as date.label for date in dates">
                </select>
			</span>
        </div>
        <div class="row zero-mobile">
            <label class="two cell"><i18n>statistics.form.indicator</i18n></label>
			<span class="four cell">
				<select ng-model="form.indicator"
                        ng-options="translate(indicator) for indicator in indicators">
                </select>
			</span>
            <label class="one cell"><i18n>statistics.form.to</i18n></label>
			<span class="six cell">
				<select ng-model="form.to"
                        ng-options="date.moment as date.label for date in toDates">
                </select>
			</span>
        </div>

        <div class="row zero-mobile">
            <div ng-if="form.indicator === 'ACCESS'">
                <label class="two cell"><i18n>statistics.form.module</i18n></label>
				<span class="four cell">
					<select ng-model="form.module"
                            ng-init="form.module = modules[0].technicalName"
                            ng-options="module.technicalName as module.name for module in modules">
                    </select>
				</span>
            </div>
            <button ng-if="!form.processing" class="right-magnet" ng-click="generation()"><i18n>statistics.admin.generate</i18n></button>
            <i18n ng-if="form.processing === true" class="right-magnet">statistics.form.processing</i18n>
        </div>

    </form>
</article>