<article>
	<div class="humane humane-original-info humane-animate" ng-class="{zero: display.loading === false}">
		<i class="loading"></i>
		<span><i18n>stats.loading</i18n></span>
	</div>
	  
	<div class="structure-tree" ng-if="state.currentEntity">
		<strong class="structure-tree__current">[[ state.currentEntity.name ]]</strong>
		<structure-tree items="state.structuresTree" select="selectEntity(id)" close="closeStructureTree()"></structure-tree>
	</div>
			
	<div class="indicator-icons-container">
		<div ng-repeat="indicator in state.indicators" class="indicator-icon-box" ng-click="indicatorDetail(indicator)">
			<i class="[[indicator.icon]] indicator-icon"></i>
			<h1 class="indicator-number">[[ indicator.getTotal(state.currentEntity) ]]</h1>
			<div class="indicator-name">[[ lang.translate(indicator.name) ]]</div>
			<div class="indicator-since"><i18n>stats.since</i18n> [[ lang.translate(indicator.getSinceDate(state.currentEntity)) ]]</div>
		</div>
	</div>

	<div class="stats-definitions">
		<h1 style="margin-top: 0px">[[ lang.translate('stats.definitions') ]]</h1>
		<div ng-repeat="definition in definitions" style="margin-bottom: 10px">
			<b>[[ lang.translate('stats.'+definition) ]]</b>:&nbsp
			<span>[[ lang.translate('stats.def.'+definition) ]]</span>
			<br>
		</div>
	</div>

	<!-- Onboarding 
	<lightbox show="display.lightbox.onboarding" on-close="closeOnboarding()">
		<div class="row">
			<h2><i18n>stats.onboarding.title</i18n></h2>
			<p><i18n>stats.onboarding.content</i18n></p>
		</div>
	</lightbox
	-->
</article>

