<!DOCTYPE html>
<html>
<head>
	<title>{{#i18n}}statistics.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript"
		id="context"></script>
	<script src="/statistics/public/js/model.js" type="text/javascript"></script>
	<script src="/statistics/public/js/controller.js" type="text/javascript"></script>
	<script src="/statistics/public/js/d3-3.5.5.min.js" type="text/javascript"></script>
	<script src="/statistics/public/js/d3-tip-0.6.3.min.js"></script>
	<script type="text/ng-template" id="empty"></script>
	<link href="/statistics/public/css/chart.css" rel="stylesheet">
	<script>
		var deviceFilter = {{deviceFilter}}
	</script>
</head>
<body ng-controller="StatisticsController">
	<portal>
		<div class="row">
				<h1>
					<i18n>statistics.title</i18n>
				</h1>
        </div>
        <div class="display-buttons" ng-if="false">
                <i class="show-admin" ng-click="showManage()" ng-class="{ selected: display.admin === false }"
                   tooltip="statistics.admin.access"></i>
                <i class="show-list" ng-click="showMain()" ng-class="{ selected: display.admin === true }"
                   tooltip="statistics.view.stats"></i>
        </div>
			<section ng-if="display.form">
				<container template="main"></container>
			</section>
            <section ng-if="display.admin">
                <container template="admin"></container>
            </section>
			<section ng-if="display.chart">
				<container template="chart"></container>
			</section>
		</div>
	</portal>
</body>
</html>